snippet helloworld "Hello world"
#include <iostream>

int main() {
    std::cout << "Hello world!\n";$0
}
endsnippet

snippet ifn_copyright "IfN copyright"
// (c) Institut fuer Nachrichtentechnik
// TU Braunschweig
// All rights reserved
endsnippet
